<div class="row">
	<div class="col-md-12">
		<div class="jumbotron text-center">
			<h1>HUSTLE B*TCH!</h1>
			<p>I hustle everyday is a project for people who are used to
				getting things done</p>
			<p>
				{{#link-to 'public.login'}}
					<button class="btn btn-success btn-lg" role="button">Lets hustle</button>
				{{/link-to}}
				{{#link-to 'public.signup'}}
					<button class="btn btn-default btn-lg" role="button">Become a hustler</button>
				{{/link-to}}
			</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>WHY</h2>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
			diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
			erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
			tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
			consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
			velit esse molestie consequat, vel illum dolore eu feugiat nulla
			facilisis</p>
	</div>
	<div class="col-md-4">
		<h2>HOW</h2>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
			diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
			erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
			tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
			consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
			velit esse molestie consequat, vel illum dolore eu feugiat nulla
			facilisis</p>
	</div>
	<div class="col-md-4">
		<h2>WHAT</h2>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
			diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
			erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
			tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
			consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
			velit esse molestie consequat, vel illum dolore eu feugiat nulla
			facilisis</p>
	</div>
</div>