<div class="row">
	<div class="col-md-12">
		<div class="jumbotron text-center">
			<h1>404</h1>
			<p>You are looking for something that is not there...</p>
			<p>
				{{#link-to 'public'}}
					<button type="button" class="btn btn-default">Continue...</button>
				{{/link-to}}	
			</p>
		</div>
	</div>
</div>